{% extends "base.html" %}
{% block title %}D3 Visualization{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-d3").classed("active", true);
</script>

<link href="../static/css/tooltip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/tooltip.js"></script>

<H2 class="mt-3">Amsterdam Rental Information</H2>

<!-- <form action="/d3"> -->
<select name="area_name" onchange="updateArea(this)" id="selectbox">
	{% for area_name in area_names %}
	{% if area_name == selected_area_name %}
	<option selected value="{{ area_name }}">{{ area_name }}</option>
	{% else %}
	<option value="{{ area_name }}">{{ area_name }}</option>
	{% endif %}
	{% endfor %}
</select>
	<!-- <input type="submit"> -->
<!-- </form> -->
<div class="">
	<div class="mt-3" id="geomap">
</div>
<div class="mt-3" id="barchart">

<style>
	.circle:hover{
		stroke: black;
		stroke-width: 4px;
	}
</style>


<link rel="stylesheet" type="text/css" href="../static/css/barchart.css">
<script type="text/javascript" src="../static/js/barchart.js"></script>
<script type="text/javascript">
	///////////// GLOBAL VARS /////////////
	var plot_data;
	var meta_data = {{ meta_data |safe }};
	var x_variables = {{ x_variables |safe}};
	var selected_area = {{ selected_area_name |tojson }};

	var width = 1000;
	var height = 700;
	var MOUSEOVER = false;

	var chart_height = 400,
		chart_width = 700;

	var svgContainer = d3.select("#barchart").append("svg")
					.attr("height", height)
					.attr("width", width);

	var x = d3.scaleLinear().rangeRound([0, chart_width]),
		y = d3.scaleBand().rangeRound([chart_height, 0]).padding(0.1);

	x.domain([0, 100]);
	y.domain(x_variables);

	// Code for vertical bar chart
	// var x = d3.scaleBand().rangeRound([0, chart_width]).padding(0.1),
	//     y = d3.scaleLinear().rangeRound([chart_height, 0]);

	// Code for vertical bar chart
	// x.domain(x_variables);
	// y.domain([0, 100]);

	updatePlot();
</script>
<script type="text/javascript">
	var width = 460
	var height = 400

	var svg = d3.select("#geomap")
		.append("svg")
		.attr("width", width)
		.attr("height", height)

	var projection = d3.geoMercator()
	.center([4.89, 52.37])
	.scale(64000)
	.translate([width/2, height/2])


	var markers = [
	{% for i in range(0, long_lat[0]|length) %}
	{long: {{long_lat[0][i]}}, lat: {{long_lat[1][i]}}, name: "{{long_lat[2][i]}}"},
	{% endfor %}
	]
	console.log(markers)

	d3.json("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson", function(data){

		<!-- filter data -->
		data.features = data.features.filter( function(d){return d.properties.name=="Netherlands"})

		<!-- draw the map -->
		svg.append("g")
			.selectAll("path")
			.data(data.features)
			.enter()
			.append("path")
				.attr("fill", "#b8b8b8")
				.attr("d", d3.geoPath()
					.projection(projection)
				)
				.style("stroke", "black")
				.style("opacity", .3)

		<!-- create a tooltip -->
		var Tooltip = d3.select("#geomap")
			.append("div")
			.attr("class", "tooltip")
			.style("opacity", 1)
			.style("background-color", "white")
			.style("border", "solid")
			.style("border-width", "2px")
			.style("border-radius", "5px")
			.style("padding", "5px")

		var mouseover = function(d){
			Tooltip.style("opacity", 1)
		}
		var mousemove = function(d){
			Tooltip
				.html(d.name + "<br>" + "long: " + d.long + "<br>" + "lat: " + d.lat)
				.style("left", (d3.mouse(this)[0]+10) + "px")
				.style("top", (d3.mouse(this)[1]) + "px")
		}
		var mouseleave = function(d){
			Tooltip.style("opacity", 0)
		}

		var mouseclick = function(d){
			let selectedOption = selectbox.options[selectbox.selectedIndex];
			selectedOption.value = d.name;
			selectedOption.text = d.name;
			selectbox.onchange();
		}

		svg
			.selectAll("myCircles")
			.data(markers)
			.enter()
			.append("circle")
				.attr("cx", function(d){ return projection([d.long, d.lat])[0]})
				.attr("cy", function(d){ return projection([d.long, d.lat])[1]})
				.attr("r", 14)
				.attr("class", "circle")
				.style("fill", "69b3a2")
				.attr("stroke", "#69b3a2")
				.attr("stroke-width", 3)
				.attr("fil-opacity", .4)
			.on("mouseover", mouseover)
			.on("mousemove", mousemove)
			.on("mouseleave", mouseleave)
			.on("click", mouseclick)
	})
</script>
{% endblock %}
